@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 15px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #000d6b;
  font-weight: 600;
  font-size: 35px;
  text-decoration: none;
}
h3,
h4 {
  font-size: 28px;
}
h5,
h6 {
  font-size: 22px;
}
a {
  text-decoration: none;
  color: unset;
}

a:hover {
  color: unset;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

section {
  padding: 50px 0;
}

.section__title {
  font-size: 35px;
  color: #000d6b;
  font-weight: 600;
  margin-left: 33px;
  margin-bottom: 23px;
}

.section__subtitle {
  font-size: 34px;
  color: #f9a826;
  font-weight: 600;
  margin-bottom: 34px;
  margin-top: 64px;
  margin-left: 42px;
}

.section__description {
  font-size: 15px;
  color: #7c8a97;
  line-height: 30px;
  margin-left: 33px;
}

.btn {
  padding: 8px 15px;
  border: none;
  outline: none;
  background: #000d6b;
  color: #fff;
  cursor: pointer;
  border-radius: 5px;
}

.btn:hover {
  background: #000d6b;
  color: #fff;
}
.about__img {
  background-color: lightblue;
  height: 300px;
  width: 100%;
}

.about__img img {
  max-width: 100%; /* Imaginea să nu depășească containerul */
  height: auto; /* Păstrează proporțiile imaginii */
  border-radius: 8px; /* Adaugă colțuri rotunjite (opțional) */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Adaugă o umbră */
}
.custom-text h2 {
  font-size: 30px;
  font-family: 'Arial', sans-serif; /* Exemplu de font */
  color: #000d6b;
  text-align: center;
  margin: 10px 0;
  margin-top: 73px;
}

/* Pentru mutarea poziției */
.custom-text {
  position: relative;
  top: 10px;
  left: 20px;
}

@media only screen and (max-width: 767px) {
  .section__title {
    font-size: 30px;
  }

  .section__subtitle {
    font-size: 18px;
  }

  .section__description {
    font-size: 13px;
  }

  section {
    padding: 30px 0;
  }
}
@media (min-width: 1200px) {
  .h2,
  h2 {
    font-size: 3rem;
    margin-top: 62px;
  }
}
